.gform-theme--framework
  :where(
    :not(svg)
      :not(svg *):not(symbol *):not(.gform-theme__no-reset--el)
      :not(.gform-theme__no-reset--children *):not(.gform-theme__disable)
      :not(.gform-theme__disable *):not(.gform-theme__disable-reset)
      :not(.gform-theme__disable-reset *):not(.gform_heading *):not(.gfield--type-html *)
      :not(.gfield--type-section *):not(.form_saved_message > *)
      :not(.form_saved_message_sent > *):not(.gform_confirmation_message *)
      :not(.wp-editor-container):not(.mce-tinymce):not(.mce-tinymce *)
      :not(.wp-editor-area):not(.gfield_description > *)
      :not(.gform-field-label--type-inline > :not(span))
  )
  path {
  display: revert;
  all: revert-layer;
}
.gform_wrapper {
  &.gform-theme--api,
  &.gform-theme--foundation {
    --gf-form-gap-x: 24px;
    --gf-form-gap-y: 20px;
  }
  .gform_heading {
    margin-bottom: 25px;
    .gform_title {
      font-family: $secondary-font;
      font-size: 50px;
      font-weight: 600;
    }
    .gform_description {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      margin: 4px 0 0;
    }
  }
  .gform-body {
    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: $color-text;
      font-family: $primary-font;
      padding: 15px 16px;
      outline: none;
      box-shadow: none;
      width: 100%;
      height: 56px;
      background: #fff;
      border-radius: 8px;
      border: 1px solid #e4e4e4;
      &::placeholder {
        color: #a2a3ab;
        font-family: $primary-font;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    textarea {
      min-block-size: auto !important;
      height: 165px;
      padding: 11px 16px;
    }
  }
  .gform_footer {
    margin-block-start: 28px;
    position: relative;
    display: flex;
    overflow: hidden;
    z-index: 1;
    background: $color-accent;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      transition: 0.3s ease-in-out;
      width: 100%;
    }
    &::before {
      right: 0;
      left: auto;
      border-right: 50px solid transparent;
      border-bottom: 80px solid $color-primary;
      transform: translateX(-100%);
    }
    &::after {
      left: 0;
      border-left: 50px solid transparent;
      border-top: 80px solid $color-primary;
      transform: translateX(100%);
    }
    > * {
      position: relative;
      z-index: 1;
    }
    &:hover {
      input[type="submit"] {
        color: $color-accent !important;
        transition: $transition !important;
      }
      &::before {
        transform: translateX(-30%);
      }
      &::after {
        transform: translateX(30%);
      }
      .give-loading-animation {
        color: $color-accent;
      }
    }
    @media (max-width: 767px) {
      margin-block-start: 20px;
    }
    input[type="submit"] {
      display: inline-block !important;
      font-size: 16px !important;
      font-weight: 700 !important;
      line-height: 24px !important;
      text-transform: capitalize !important;
      text-align: center !important;
      color: $color-primary !important;
      background: transparent !important;
      padding: 16px 32px 16px 32px !important;
      border: none !important;
      border-radius: 0 !important;
      font-family: $secondary-font !important;
      &.gform-button--width-full {
        width: 100% !important;
        box-shadow: none !important;
      }
    }
  }
  .gform-loader {
    border-block-end-color: $color-accent;
    border-inline-start-color: $color-accent;
    position: absolute;
    right: 18px;
    border-block-start-color: $color-primary;
    border-inline-end-color: $color-primary;
  }
  .gform_validation_errors {
    display: none !important;
  }
  .gform_confirmation_message {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
  }
}
